.cart-page {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
  .cart-content {
    display: flex;
    width: 60%;
    gap: 20px;
    justify-content: center;
  }
  
  .cart-items {
    width: 60%;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .product-item {
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .product-item-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  .product-img {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .product-info {
    flex: 1;
    padding-left: 10px;
  }
  
  .price-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .edit-quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
  }
  
  .quantity {
    margin-top: 10px;
  }
  
  .remove-btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #666;
    gap: 5px;
  }
  
  .edit-btn {
    width: 8%;
  }
  
  .product-item-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #ccc;
  }
  
  .price-details {
    width: 40%;
    border-left: 2px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .order-total {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ccc;
    padding-top: 15px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .continue-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    background-color: #9f2089;
    padding: 10px;
    border-radius: 8px;
    color: white;
  }
  
  .safety-img {
    width: 100%;
  }
  
  .empty-cart {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .empty-cart-img {
    width: 100%;
    padding: 0 25%;
  }
  
  .start-shopping-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    width: 40%;
    background-color: #9f2089;
    padding: 10px;
    border-radius: 8px;
    color: white;
  }
  