/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .detailsBannerSkeleton {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
}

@media (min-width: 768px) {
  .detailsBannerSkeleton {
    gap: 50px;
    flex-direction: row;
  }
}

.detailsBannerSkeleton .contentWrapper {
  display: flex;
  gap: 50px;
}

.detailsBannerSkeleton .left {
  flex-shrink: 0;
  width: 100%;
  display: block;
  border-radius: 12px;
  aspect-ratio: 1 / 1.5;
}

@media (min-width: 768px) {
  .detailsBannerSkeleton .left {
    max-width: 350px;
  }
}

.detailsBannerSkeleton .right {
  width: 100%;
}

.detailsBannerSkeleton .right .row {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 50px;
}

.detailsBannerSkeleton .right .row:nth-child(2) {
  width: 75%;
  margin-bottom: 50px;
}

.detailsBannerSkeleton .right .row:nth-child(5) {
  width: 50%;
  margin-bottom: 50px;
} */

